/* 
+++++++++++++++++++++++++++
Variables
+++++++++++++++++++++++++++
*/
:root {
    --radius: 30px;
    --main-bg-color: #002a7a;
    --main-bg-shadow: #193f87;
    --primary-text: #fff;
    --grey: grey;
}



/* 
+++++++++++++++++++++++++++
Universal Class
+++++++++++++++++++++++++++
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f6fa;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* 
+++++++++++++++++++++++++++
Main Container
+++++++++++++++++++++++++++
*/
.main-container {
    width: 98vw;
    height: 98vh;
    margin: auto;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
}

/* 
+++++++++++++++++++++++++++
Side Navigation
+++++++++++++++++++++++++++
*/
.side-navigation {
    background-color: var(--main-bg-color);
    border-radius: var(--radius);
}

.profile {
    text-transform: uppercase;
    color: var(--primary-text);
    font-size: 1.7rem;
    background-color: var(--main-bg-shadow);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.navigation-links {
    height: calc(100% - 280px);
}

.navigation-links .all-links {
    width: 50px;
    margin: auto;
    margin-top: 100px;
}

.navigation-links a {
    color: var(--primary-text);
    display: block;
    margin: 30px 0;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 0;
    border-radius: var(--radius);
}

.navigation-links a.active {
    background-color: var(--main-bg-shadow);
    border-radius: 13px;
}

.profile-img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


/* 
+++++++++++++++++++++++++++
Right Container
+++++++++++++++++++++++++++
*/
.right-container {
    display: grid;
    grid-template-columns: 75% 25%;
}


/* 
+++++++++++++++++++++++++++
Right Content
+++++++++++++++++++++++++++
*/
.right-content {
    background-color: var(--primary-text);
    border-radius: var(--radius);
    padding: 30px;
}

.right-container .header .heading {
    font-size: 1.6rem;
}

.right-container .header p {
    color: var(--grey);
    font-size: .9rem;
    margin-top: 6px;
}


/* 
+++++++++++++++++++++++++++
My Cards
+++++++++++++++++++++++++++
*/
.my-card {
    margin-top: 40px;
}

.my-card .cards {
    display: flex;
    margin-top: 20px;
}

.my-card .cards .card {
    width: 100%;
    background-color: #267dff;
    color: var(--primary-text);
    padding: 15px;
    border-radius: 13px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-card .cards .card .card-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.my-card .cards .card .card-bottom .card-type {
    z-index: 2;
}

.my-card .cards .card .card-bottom .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    right: -10px;
    bottom: -10px;
    opacity: 0.4;
    z-index: 1;
}

.my-card .cards .my-balance {
    margin-left: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 13px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-card .cards .my-balance span {
    font-size: 1.8rem;
}

/* 
+++++++++++++++++++++++++++
Recent Transaction
+++++++++++++++++++++++++++
*/
.recent-transaction {
    margin-top: 40px;
}

.recent-transaction .cards {
    height: calc(100vh - 650px);
    overflow-y: scroll;
    margin-top: 20px;
}

.recent-transaction .cards .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recent-transaction .cards .left .img {
    background-color: #c3dafd;
    color: var(--main-bg-shadow);
    height: 50px;
    width: 50px;
    font-size: 1.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-transaction .cards .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.recent-transaction .cards .card .data {
    margin-left: 10px;
}

.recent-transaction .cards .card .data p {
    font-size: .9rem;
    color: var(--grey);
}

.recent-transaction .cards .right-data {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.recent-transaction .cards .right-data.positive {
    color: green;
}

.recent-transaction .cards .right-data.negative {
    color: red;
}

/* 
+++++++++++++++++++++++++++
Find Us
+++++++++++++++++++++++++++
*/
.find-us {
    margin-top: 40px;
}

.find-us .gmap_canvas {
    margin-top: 20px;
    border-radius: 15px;
}

/* 
+++++++++++++++++++++++++++
Main Content 
+++++++++++++++++++++++++++
*/
.main-content {
    padding: 30px;
}


/* 
+++++++++++++++++++++++++++
Main Content Top
+++++++++++++++++++++++++++
*/
.main-content .top {
    display: flex;
    justify-content: space-between;
}

.main-content .top {
    display: flex;
    justify-content: space-between;
}

.main-content .top .searching {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-text);
    height: 50px;
    align-items: center;
    border-radius: 15px;
    padding: 0 20px;
}

.main-content .top .searching .icon {
    color: var(--grey);
}

.main-content .top .searching input {
    outline: unset;
    border: unset;
    width: calc(100% - 120px);
}

.main-content .top .searching button {
    background-color: transparent;
    border: unset;
    color: var(--main-bg-shadow);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #d2e0fa;
    cursor: pointer;
}

.main-content .top .searching button:hover {
    color: #d2e0fa;
    background-color: var(--main-bg-color);
}

.main-content .top .notification {
    background-color: var(--primary-text);
    color: var(--grey);
    padding: 15px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
}

/* 
+++++++++++++++++++++++++++
Send Money Cards
+++++++++++++++++++++++++++
*/
.send-money {
    margin-top: 40px;
}

.send-money .cards {
    display: flex;
    margin-top: 20px;
}

.send-money .cards .left-card {
    background-color: var(--primary-text);
    width: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    padding-right: 40px;
}

.send-money .cards .left-card .card-number {
    border: 1px solid rgb(213, 213, 213);
    color: grey;
    border-radius: 7px;
    padding: 10px 20px;
}

.send-money .cards .left-card .active-balance {
    margin-top: 40px;
}

.send-money .cards .left-card .active-balance .label {
    color: grey;
    display: inline-block;
}

.send-money .cards .left-card .right-data .label {
    color: grey;
}

.send-money .cards .left-card .right-data .balance {
    font-size: 1.7rem;
    margin-top: 10px;
}

.send-money .cards .left-card .right-data button {
    border: unset;
    outline: unset;
    padding: 10px;
    border-radius: 8px;
    background-color: #267dff;
    color: var(--primary-text);
    margin-top: 10px;
}

.send-money .cards .left-card .active-balance span {
    font-size: 1.1rem;
    margin-left: 15px;
}

.send-money .cards .right-card {
    padding: 20px 20px;
    position: relative;
    background-color: var(--main-bg-color);
    width: 38%;
    margin-left: 20px;
    border-radius: 15px;
    color: var(--primary-text);
}

.send-money .cards .right-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 40px);
}

.send-money .cards .right-card .name {
    font-size: 1.2rem;
}

.send-money .cards .right-card .balance {
    font-size: 1.4rem;
}

.send-money .cards .right-card .range {
    height: 15px;
    width: 90%;
    background-color: rgb(205, 220, 227);
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
}
.send-money .cards .right-card .range-fill {
    height: 15px;
    width: 60%;
    background-color: var(--primary-text);
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
}

.send-money .cards .right-card .circle {
    position: absolute;
    background-color: var(--main-bg-shadow);
    width: 100px;
    height: 100px;
    right: 0;
    border-radius: 50%;
}